<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PingOverlay.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PingOverlay.My.MySettings>
            <setting name="PingInterval" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="OverlayFont" serializeAs="String">
                <value>Tahoma, 16.125pt</value>
            </setting>
            <setting name="OverlayColor" serializeAs="String">
                <value>LimeGreen</value>
            </setting>
            <setting name="OverlayLocation" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>9.9.9.9</value>
            </setting>
        </PingOverlay.My.MySettings>
    </userSettings>
</configuration>
